.hero-banner{
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 720px;
}
.hero-banner-contents{
    display: flex;
    position: relative;
    top: 180px;
    float: right;
    width: 80%;
}
.hero-banner-contents-left{
    display: flex;
    justify-content: space-around;

}
.hero-banner-contents-logo{
    z-index: 1;
    position: relative;
    top: 35px;
    width: 160px;
    height: 160px;
    background-image: url('../assets/img/star.png');
    background-size: cover;
    animation: logo-rotate 8s infinite linear;
}
@keyframes logo-rotate {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}
.hero-banner-contents-text{
    margin-left: -100px;
    width: 60%;
}
.hero-banner-contents-text h1{
    margin-left: -25px;
    font-size: 70px;
}
.hero-banner-contents-text h2{
    font-size: 50px;
}
.hero-banner-contents-text p{
    font-size: 27px;
    line-height: 32px;
    margin-left: -20px;
    font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace; 
}
.hero-banner-buttons-container{
    margin-left: -15px;
}
.hero-banner-buttons-container button{
    border: 3px solid #4400FF;
    border-radius: 10px;
    color: #fff;
    padding: 13px 25px;
    margin-right: 10px;
    cursor: pointer;
}
.hero-banner-button-left{
    background-color: #4400ff;
}
.hero-banner-button-right{
    background: none;
}
.hero-banner-button-left:hover{
    background-color: #4400ff5e;
}
.hero-banner-button-right:hover{
    background-color: #4400ff5e;
}

.hero-banner-contents-right{
    display: flex;
    align-items: center;
}
.hero-banner-contents-right > img{
    height: 300px;
}

.welcome-container{
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.back-and-front-container{
    width: 100%;
    height: 100PX;
    margin-top: 25px;
}
.back-and-front-container {
    text-align: center;
}
.back-and-front-container h1{
    font-family: STCaiyun;
    font-size: 70px;
   
}
.back-and-front-contents{
    width: 100%;
    height: 550px;
}

.who-i-am-contents-container{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.who-i-am-contents{
    display: flex;
    flex-direction: column;
    width: 600px;
}
.who-i-am-top{
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    font-size: 25px;
}
.who-i-am-top > img{
    margin: -50px;
    width: 100px;
    margin-right: 10px;
    animation: logo-rotate 20s linear infinite;
}
.who-i-am-text{
    width: 100%;
    font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace; 
    font-size: 20px;
}
.who-i-am-picture{
    width: 300px;
    height: 400px;
    border: 6px solid #fff;
}
@keyframes leftToRight {
    0%{
        transform: translatex(0);
    }100%{
        transform: translatex(100%);
    }
}