.hero-banner{
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 720px;
}
.hero-banner-contents{
    display: flex;
    position: relative;
    top: 180px;
    float: right;
    width: 80%;
}
.hero-banner-contents-left{
    display: flex;
    justify-content: space-around;

}
.hero-banner-contents-logo{
    z-index: 1;
    position: relative;
    top: 35px;
    width: 160px;
    height: 160px;
    background-image: url('../assets/img/star.png');
    background-size: cover;
    animation: logo-rotate 8s infinite linear;
}
@keyframes logo-rotate {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}
.hero-banner-contents-text{
    margin-left: -100px;
    width: 60%;
}
.hero-banner-contents-text h1{
    margin-left: -25px;
    font-size: 70px;
}
.hero-banner-contents-text h2{
    font-size: 50px;
}
.hero-banner-contents-text p{
    font-size: 27px;
    line-height: 32px;
    margin-left: -20px;
    font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace; 
}
.hero-banner-buttons-container{
    margin-left: -15px;
}
.hero-banner-buttons-container button{
    border: 3px solid #4400FF;
    border-radius: 10px;
    color: #fff;
    padding: 13px 25px;
    margin-right: 10px;
    font-weight: 600;
    cursor: pointer;
}
.hero-banner-button-left{
    background-color: #4400ff;
}
.hero-banner-button-right{
    background: none;
}
.hero-banner-button-left:hover{
    background-color: #4400ff5e;
}
.hero-banner-button-right:hover{
    background-color: #4400ff5e;
}

.hero-banner-contents-right{
    display: flex;
    align-items: center;
}
.hero-banner-contents-right > img{
    height: 300px;
}

.welcome-container{
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.back-and-front-container{
    width: 100%;
    margin-top: 25px;
}
.back-and-front-container {
    overflow: hidden;
    width: 100%;
    display: flex;
}
.back-and-front-container > span{
    white-space: nowrap;
    font-family: STCaiyun;
    font-size: 130px;
    animation: slide 10s infinite linear;
}
.b-a-f-reverse > span{
    animation: slideReverse 10s infinite linear;
}
@keyframes slide{
    0% {
        transform: translateX(-100%);
    }100% {
        transform: translateX(0%);
    }
}
@keyframes slideReverse{
    0% {
        transform: translateX(0%);
    }100% {
        transform: translateX(-100%);
    }
}
.who-i-am-contents-container{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.who-i-am-contents{
    display: flex;
    flex-direction: column;
    width: 600px;
}
.who-i-am-top{
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    font-size: 25px;
}
.who-i-am-top > img{
    margin: -50px;
    width: 100px;
    margin-right: 10px;
    animation: logo-rotate 20s linear infinite;
}
.who-i-am-text{
    width: 100%;
    font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace; 
    font-size: 20px;
}
.who-i-am-picture{
    width: 300px;
    height: 400px;
    border: 6px solid #fff;
}

.skills{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills > h1{
    margin: 40px 0;
    font-size: 50px;
}
.skills > hr{
    width: 50%;
    border-style: solid;
    border-top-width: 1px;
    border-color: #fff;
    margin-left: 0;
    margin-right: 0;   
}

.skills-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.skills-left{
    text-align: center;
    margin-top: -29px;
    width: 45%;
    height: 400px;
}
.circle{
    width: 20px;
    height: 20px;
    border: 10px solid #292B46;
    border-radius: 20px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
}
.little-vertical-bar{
    width: 1px;
    height: 40px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
}
.skills-middle{
    margin-top: -29px;
    width: 10%;
    height: 400px;
}
.large-vertical-bar{
    width: 1px;
    height: 100%;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
}
.skills-right{
    text-align: center;
    margin-top: -29px;
    width: 45%;
    height: 400px;
}
.skills-container h1{
    margin-top: 10px;
}
.skills-contents{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}
.skills-contents img{
    height: 110px;
}

@keyframes leftToRight {
    0%{
        transform: translatex(0);
    }100%{
        transform: translatex(100%);
    }
}