.projects-container{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 600px;
}
.projects-container > h1{
    font-size: 40px;
    margin-bottom: 40px;
}
.projects{
    display: flex;
    justify-content: center;
    width: 100%;
}
.projects > .project{
    width: 10%;
    height: 500px;
    margin: 0 40px;
    overflow: hidden;
    transition: all 0.5s ease;
    cursor: pointer;
}
.project > .background-no-active-img{
    width: 100%;
    height: 100%;
    background-size: cover;
}
.projects > .project.active{
    padding: 30px;
    box-sizing: border-box;
    width: 60%;
    background-color: rgb(31, 31, 31);
}

.project-content{
    overflow: hidden;
    display: none;
    width: 100%;
    height: 100%;
}

.project-content.active{
    display: block;
}

.project-top{
    display: flex;
    width: 100%;
    height: 50%;
}
.project-top > .project-img{
    width: 45%;
    height: 100%;
    background-size: cover;
}
.project-top > .project-tech{
    width: 55%;
    height: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
}
.project-tech > .techno{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.techno > img{
    height: 70px;
}

.project-bottom{
    position: relative;
    width: 100%;
    height: 50%;
    padding-top: 20px;
    box-sizing: border-box;
}
.project-bottom > button{
    position: absolute;
    right: 0;
    bottom: 0px;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    border: 1px solid #4400FF;
    color: #fff;
    cursor: pointer;
}